* {
  margin: 0;
  padding: 0;
  background-color: white;
  color: red;
}

body {
  position: relative;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0.5em
}

.nav {
  background: #a8a599;
  float: right;
  /* position: absolute; */
  width: 20%;
  height: 100%;
}

.section {
  background-color: black;
  min-height: 150px;
}

@media screen and (max-width: 1600px) {
  .section {
    min-height: 100px;
  }
}
@media screen and (max-width: 1366px) {
  .section {
    min-height: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .section {
    min-height: 100px;
  }
}
@media screen and (max-width: 800px) {
  .section {
    min-height: 100px;
  }
}
@media screen and (max-width: 480px) {
  .section {
    min-height: 100px;
  }
}

/*
1600 1200 комп
1366 768 ноут
1024 768 планш
800 480 моб
480 320 моб
*/
